@media screen and (min-width: 768px) {

scrollbar {
  scrollbar-color: #de0202 antiquewhite;
}

 ::-webkit-scrollbar {
  width: 12px;
}

 ::-webkit-scrollbar-track {
  background: antiquewhite;
 }

::-webkit-scrollbar-thumb {
  background-color: #de0202; 
  border-radius: 4px; 
  border: 2px solid antiquewhite;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  font-family: 'Hanken Grotesk', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border: 4px solid #de0202;
  border-radius: 20px;
  z-index: 1000;
  flex-wrap: wrap;
}

.navigation ul {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  top: 0;
  left: 0;
  right: 0;
  margin: 10; 
  padding: 0; 
  width: 100%; 
}

.navigation {
  position: relative;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.button {
  background-color: transparent;
  border: none;
}

.button:hover {
  color: #de0202; 
  cursor: pointer;
}
  
.header > img {
  display: block;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: auto;
  top: 4%;
}
  
.name {
  display: flex;
  position: fixed;
  justify-content: center;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 40px;
  font-weight:300;
  top: 10%;
}

.horizontal__divider {
  border: none;
  height: 1px;
  width: 500px;
  background-color: black;
  top: 24%;
  position: fixed;
}
  
.description {
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
  font-weight:300;
  background-color: none;
  top: 24%;
}
  
.carousel {
  margin: 80px;
  border: 4px solid #de0202;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  gap: 2px;
  list-style-type: none;
  margin-top: 200px;
}

.carousel > img {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  animation: slide 3s infinite alternate;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(-55%);
  }
}

h3 {
  display: flex;
  justify-content: center;
  color: black;
  background-color: none;
  font-size: 30px;
  font-weight:300;
  font-family: 'Hanken Grotesk', sans-serif;
}

.malaysian,
.middle_eastern,
.western {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: antiquewhite;
}
  
.malaysian_img,
.middleeast_img,
.western_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image {
  text-align: center;
  margin: 10px;
  border: solid #de0202 5px;
  border-radius: 10px;
  padding: 5px solid  #de0202;
}

.image > img {
  width: 250px;
  height: auto;
  border-radius: 6px;
}

.img_caption {
  margin-top: 5px;
  font-size: 15px;
  font-weight:300;
  color: black;
  background-color: none;
  font-family: 'Hanken Grotesk', sans-serif;
}

.thumbsup {
  width: 10px;
  height: auto;
}

.footer {
  background-color: #de0202;
  height: 400px;;
}

}